body {
    background-image: url('img/Back-to-School-HD-Wallpaper.jpg');
}

.container {
    min-height: 100%;
    margin-bottom: -70px;
}

.navbar-text {
    float: right;
}

#currentDay {
    color: white;
}

a.footer {
    width: 100%;
    height: 40px;
    text-align: center;
    margin-right: 0;
    color: white;
  }


.footer,
.push {
    height: 70px;
}

.modal {
    margin-bottom: 20px;
}

#card-1 {
    height: 550px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 240px;
}

.imgWeather {
    border: none;
    width: inherit;
}

.book {
    margin-left: 15px;
}

.fa-2x {
    margin-right: 25px;
}

.modal-header,
.close {
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}

.modal-header {
    padding: 35px 50px;
}

.modal-body {
    padding: 40px 50px;
}

/* h4 {
    margin-left: 90px;
    font-size: 40px;
} */

.fa-lock {
    margin-right: 10px;
}

#student {
    font-weight: bold;
    margin: 15px 0 0 250px;
    /* font-size: 30px; */
    /* font-weight: 500; */
}

.list {
    padding-top: 10px;
    font-size: 20px;
    font-weight: normal;
    
}

.studentBox {
    border: solid;
    width: 200px;
    height: 300px;
    margin: 10px 50px;
}

.gender {
    height: 300px;
    border-style: solid;
    width: 200px;
    margin: 10px 50px;
    padding-left: 10px;
    font-size: 20px;
    
}

#time {
    color: white;
    margin-left: 60px;
}

.hide {
    display: none;
}