body {
    background-image: url('img/Back-to-School-HD-Wallpaper.jpg');
}

.container {
    min-height: 100%;
    margin-bottom: -70px;
}

.navbar-text {
    float: right;
}

#currentDay {
color: white;

}


footer {
    position: relative;
    bottom: 0;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    margin-top: 20px;
}

.footer,
.push {
    height: 70px;
}

.modal {
    margin-bottom: 20px;
}

#card-1 {
    height: 550px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 240px;
}

.book {
    margin-left: 15px;
}

.fa-2x {
    margin-right: 25px;
}

#listName {
    margin: 15px;
    font-size: 30px;
    font-weight: 500;
    border: solid darkslategray;
    padding: 0 12px 5px 12px;
}

.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
.modal-footer {
    background-color: #f9f9f9;
}

.modal-header {
    padding: 35px 50px;
}

.modal-body {
    padding: 40px 50px;
}
